body{
    background-color:#0f0f24 ;
}

#header{
    text-align: center;
    font-size: 40px;
    color: #24240f;
    
}

#img{
    text-align: center;
    margin-bottom: 30px;
}

#recipes{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-style: italic;
}

#pie a {
color: #8d8bd0;
justify-content: left;
text-align: left;
text-decoration: none;
margin-left: 20px;

}

#pork a {
justify-content: right;
color:#8d8bd0;
text-decoration: none;
margin-right: 20px;
}