body{
    background-color: #e0faec;
}
.button{
margin: 100px 150px;
padding: 100px 150px;
font-size: 28px;
font-family: 'Times New Roman', Times, serif,sans-serif,Arial, Helvetica, sans-serif;



}

.clickMe{
background-color:#e0faf9; 
}

.noClickMe{
    background-color: #ece0fa;
}